.active {
  color: green;
}

body {
  background: rgb(83, 24, 0);
  width: 100vw;
  margin-bottom: 100px;
  background-size: cover;
}

button {
  border: 1px solid black;
  border-radius: 15px;
  margin: 5px;
}

li {
  text-decoration: none;
  color: red;
  margin: 0 0 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(83, 24, 0);
  color: white;
  padding: 16px;
}

nav img {
  height: 32px;
}

.profile-button {
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  color: rgb(83, 24, 0);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 24, 0);
  color: white;
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.back-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button i {
  margin-right: 8px;
}
