.active {
  color: green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- LOGIN & SIGNUP ----- */

.ul-login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(7, 97, 70);
  padding: 1rem;
}

.ul-login li {
  border: 1px solid rgb(7, 97, 70);
  width: 150px;
  list-style: none;
  margin: 10px; 
  text-align: center;
  cursor: pointer;
  padding: 1rem;
}

.ul-login li a {
  text-decoration: none;
  color: rgb(7, 97, 70);
  text-transform: uppercase;
  padding: 1rem;
}

.signupdiv {
  display: flex;
  justify-content: center;
}

.signupbtn {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(7, 97, 70);
  border: 1px solid rgb(7, 97, 70);
  padding: 0.4rem;
}

/*---- HOME ---- */

.home {
  margin: 1rem;
}

.home h5 {
  margin-bottom: 0.5rem;
}

.home h3 {
  margin-top: 3rem;
}

/* ------ NAVBAR ------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(7, 97, 70);
  padding: 16px;
}

nav img {
  height: 65px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav ul li a {
  text-decoration: none;
}

.li-nav{
  text-decoration: none;
  color: rgb(7, 97, 70)
}

/* ------ BUTTONS ------- */

.masterplayer-button {
  display: flex;
  justify-content: space-around;
}

.btn-modality {
  color: rgb(133, 133, 133);
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid rgb(7, 97, 70);
  text-decoration: none;
  background-color: rgb(7, 97, 70);
  opacity: 75%;
  text-transform: uppercase;
}

.game-button img {
  flex: 0 0 calc(33.33% - 10px);
  margin: 5px;
  border: 1px solid rgb(7, 97, 70);
  width: 100px;
}

.profile-button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(7, 97, 70);
  width: 70px;
  text-transform: uppercase;
  background-color: rgb(128, 155, 155);
  text-align: center;
  padding: 0.5rem;;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button i {
  margin-right: 8px;
}

div button.btn p {
  text-decoration: none;
  margin: 0px;
  text-decoration: none;
  color: rgb(207, 207, 207);
  opacity: none;
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: rgb(2, 54, 39);
  opacity: 30%;
  padding: 0.3rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px solid rgb(0, 255, 179);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

p.createbulltin-button {
  border: 1px solid rgb(7, 97, 70);
  width: 150px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

.divcreate {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.search-button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(7, 97, 70);
  width: 70px;
  text-transform: uppercase;
  background-color: rgb(128, 155, 155);
  text-align: center;
  padding: 0.13rem;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

.edit-btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 0.3rem;
  margin: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(128, 155, 155);
  border: 1px solid rgb(7, 97, 70);
  color: rgb(7,97,70);
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* ------ FOOTER ------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(7, 97, 70);
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background:  rgb(128, 155, 155);
}

/*----- GAMES -----*/

.game-row {
  display: flex;
  flex-wrap: nowrap;
  margin: 2px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listgames  {
  display: flex;
  flex-direction: row; 
}

.listgames p {
  flex: 1;
  margin-right: 35px;
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* ---- CARDS ---- */

.card {
  background-color: rgb(32, 37, 37); 
  opacity: 0.8; 
  margin: 20px;
  padding: 3px 12px;
  border-radius: 5px;
}
.card p {
  font-size: 1rem;
}

div.card img {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  height: 100px;
  display: block; 
  margin: 0 auto;
}

.btn-card {
  display: flex;
  justify-content: center;
}

/* ---FORMS --- */

.form-edit {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  position: relative;
  margin: 0.5rem
}

.form-edit input {
  padding: 0.3rem;
}

.form-edit label {
  padding: 0.3rem
}

.form-edit button {
  margin-top: 0.8rem;
}

.formnew {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.5rem;
}

.formnew input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem;
}

.formnew label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.3rem
}

.formnew p {
  margin:0;
  font-size: 0.85rem;
}

/*---- PROFILE EDIT ---- */

.profilediv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem
}

.profilediv div {
  border: 1px solid rgb(7, 97, 70);
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  /* padding: 0.7rem;; */
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
  margin: 0.3rem;
}

div.profilediv a {
  text-decoration: none;
}

div.profilediv a div{
  padding: 1rem;
}

div.profilediv img {
  width: 100px;
  border-radius: 50px;
}

/*-----SEARCH -----*/

.searchname {
  display: flex;
  justify-content: center;
  margin: 0;
}

.ul-search {
  position: absolute;
  top: 80%;
  margin-bottom: 0.5rem;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin-top: 10px;
}

.ul-search li {
  display: block;
}

.list-search a {
  text-decoration: none;
  display: block;
  justify-content: center;
  margin-bottom: 5rem;
  font-size: 2rem;
  color: rgb(14, 70, 52);
}

.list-search a img {
  width: 30px;
}

.search input {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
}

div.search {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0%;
  position: relative;
  padding: 0.3rem;
}
