.active {
  color: green;
}

nav {
  text-decoration: none;

}

body {
  width: 100vw;
  margin-bottom: 58%;
  background-size: cover;
  background:  rgb(128, 155, 155);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------ NAVBAR ------- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(7, 97, 70);
  padding: 16px;
}

nav img {
  height: 32px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: rgb(7, 97, 70)
}

.li-nav{
  text-decoration: none;
  color: rgb(7, 97, 70)
}

/* ------ BUTTONS ------- */

.profile-button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(7, 97, 70);
  width: 70px;
  text-transform: uppercase;
  background-color: rgb(128, 155, 155);
  text-align: center;
  padding: 0.5rem;;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button i {
  margin-right: 8px;
}

div button.btn p {
  text-decoration: none;
  margin: 0px;
  text-decoration: none;
  color: rgb(128, 155, 155);
}

.btn {
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: rgb(7, 97, 70);
  opacity: 30%;
  padding: 0.3rem;
  margin: 1rem;
  cursor: pointer;
  border: 1px solid rgb(7, 97, 70);
  color: rgb(175, 197, 197);
  text-decoration: none;
}

.games {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.99rem;
}

.game-row {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.game-button {
  flex-basis: 30%;
  margin: 10px;
  text-decoration: none;
  color:rgb(7, 97, 70);
}

p.createbulltin-button {
  border: 1px solid rgb(7, 97, 70);
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

.divcreate {
  display: flex;
  justify-content: center;
}

.search-button {
  font-family: 'Roboto', sans-serif;
  border: 1px solid rgb(7, 97, 70);
  width: 70px;
  text-transform: uppercase;
  background-color: rgb(128, 155, 155);
  text-align: center;
  padding: 0.13rem;;
  color: rgb(7, 97, 70);
  cursor: pointer;
  text-decoration: none;
}

/* ------ FOOTER ------- */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(7, 97, 70);
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background:  rgb(128, 155, 155);
}

.home {
  margin: 1rem;

}

.searchname {
  display: flex;
  justify-content: center;
  margin: 0;
}

.card {
  background-color: rgb(32, 37, 37); 
  opacity: 0.8; 
  margin: 20px;
  padding: 3px 12px;
  border-radius: 5px;
}
.card p {
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

.search {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0.8rem;
  position: relative;
}

.home h5 {
  margin-bottom: 0.5rem;
}

.home h3 {
  margin-top: 3rem;
}

.ul-search {
  position: absolute;
  top: 100%;
  margin-bottom: 0.5rem;
}