@font-face {
  font-family: 'Roboto'; 
  src: url('/public/font/RobotoCondensed-Bold.ttf') format('truetype'); 
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(7, 97, 70);
}

code {
  font-family: 'Roboto', sans-serif,
    monospace;
}
